@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: #131621;
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	color: #aaa;
}

a { color: #aaa; }

.tab { display: none; }

::selection { background: #5d3be3; }

.container {
	padding-top: 30vh;
	margin: 0 auto;
	width: 50vw;
	min-width: 400px;
}

.input {
	font-size: 1.5em;	
	border-bottom: 2px solid white;
	padding-bottom: 3px;
	padding-top: 1em;
}

.input:focus, .selected { outline: none }

@media (max-width: 540px) {
	body { font-size: 18px; }
}