body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: #131621;
	font-family: monospace;
	font-size: 3;
	color: white;
}

::selection {
	background: #5d3be3;
}

.container {
	padding-top: 30vh;
	margin: 0 auto;
	width: 50vw;
	min-width: 400px;
}

.input {
	font-size: 1.5em;	
	border-bottom: 2px solid white;
	padding-bottom: 3px;
}
.input:focus {
	outline: none
}


@media (max-width: 540px) {
	body {
		font-size: 18px;
	}
}