body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: #131621;
	font-family: monospace;
	font-size: 24px;
	color: white;
}

::selection {
	background: #5d3be3;
}

.container {
	padding-top: 30vh;
	padding-left: 25vw;
	width: 50vw;
}

.input {
	font-size: 1.5em;	
	border-bottom: 2px solid white;
	padding-bottom: 3px;
}
.input:focus {
	outline: none
}